#masonry {
  @include clearfix;
  @include margin(1.5em 0);
  @include padding(0);
  @include prefixer(column-count, 2, webkit ms spec);
  @include prefixer(column-gap, 2em, webkit ms spec);
  @include prefixer(column-width, 43%, webkit ms spec);
  max-width: 713px;
  width: 100%;

  dl {
    @include margin(0 0.6em 1em 0);
    @include padding(0.6em 0.6em 0.4em);
    box-shadow: 2px 2px 4px 0 #ccc;
    display: inline-block;
  	font-size: $medium-large-font-size;
    position: relative;

    .overlay {
      @include position(absolute, 0 null null 0);
      @include size(100% 100%);
      background-color: $background-color;
      z-index: 10;
    }
  }

  dd,
  dt {
  	float: left;
  	position: relative;
  }

  dt {
  	@include margin(0 auto);
  	text-align: right;

    span {
      @include margin(null null 0.6em);
      @include size(260px auto);
      display: inline-block;
    	font: $medium-large-font-size $font-cursive;
    	line-height: 1;
    }

    img {
      @include size(260px auto);
      display: inline-block;
    }
  }

  dd {
    @include position(absolute, 0.6em null null 0.6em);
    @include size(260px 87%);
    display: none;
  	z-index: 20;

    p {
      @include padding(0.5em);
    	position: relative;

      &:first-child {
        @include margin(null null 0);
        @include padding(null null 0);

        &:hover {
          a { color: $link-color-primary; }
        }
      }

      a,
      &:first-child em {
      	color: $color-secondary;
      	font: $small-font-size $font-secondary-extra-bold;
      	font-style: normal;
      }

      &:first-child em {
        float: none;
        font-size: $medium-font-size;
        text-align: left;
      }

      a {
        &:hover { text-decoration: none; }

        &.link {
          @include margin(0.5em 0 0.5em 0.5em);
          float: left;

          &:hover {
            @include border-width(null null 0);
            @include padding(null null 0);
          	text-decoration: none;
          }
        }

        span {
          @include margin(null null null 1em);
          color: $color-secondary;
        	font: normal $smallest-font-size $font-primary-stack;
        }
      }

      span {
        @include padding(0.75em null null);
        display: inline-block;
      	font: $large-font-size/2.1 $font-secondary-medium-italic;
      }

      em {
        @include margin(0.5em 0.5em null null);
        float: right;
      	font: normal $medium-font-size/1.2 $font-primary-stack;
      	text-align: right;
      }
    }
  }
}
