/* **********************************************************
 * Include foundational CSS files to ease development
 * ******************************************************* */
/* ---------------------------------------------------------------------
 CSS Reset
------------------------------------------------------------------------ */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big,
cite, code, del, dfn, font, img, ins, kbd, q,
s, samp, small, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

body {
  background: white;
  color: #333;
  position: relative; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.750em;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/* Clearing */
.clear {
  clear: both;
  float: none !important;
  font-size: 0.063em;
  height: 1px;
  margin: 0;
  padding: 0; }

.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table; }

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both; }

* {
  text-shadow: none !important; }

:focus {
  outline: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* ---------------------------------------------------------------------
 HTML5 Element Reset
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

audio, canvas, video, progress, picture {
  display: inline-block; }

template {
  display: none; }

/* ---------------------------------------------------------------------
 Form Reset Styles
------------------------------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input {
  font-family: inherit;
  font-size: inherit; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

@font-face {
  font-family: 'ExoThin';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Thin-webfont.eot");
  src: url("../fonts/exo/Exo-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Thin-webfont.woff") format("woff"), url("../fonts/exo/Exo-Thin-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Thin-webfont.svg#ExoThin") format("svg"); }
@font-face {
  font-family: 'ExoThinItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Thin-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Thin-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Thin-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Thin-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Thin-Italic-webfont.svg#ExoThinItalic") format("svg"); }
@font-face {
  font-family: 'ExoExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-ExtraLight-webfont.eot");
  src: url("../fonts/exo/Exo-ExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-ExtraLight-webfont.woff") format("woff"), url("../fonts/exo/Exo-ExtraLight-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-ExtraLight-webfont.svg#ExoExtraLight") format("svg"); }
@font-face {
  font-family: 'ExoExtraLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-ExtraLight-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-ExtraLight-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-ExtraLight-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-ExtraLight-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-ExtraLight-Italic-webfont.svg#ExoExtraLightItalic") format("svg"); }
@font-face {
  font-family: 'ExoLight';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Light-webfont.eot");
  src: url("../fonts/exo/Exo-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Light-webfont.woff") format("woff"), url("../fonts/exo/Exo-Light-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Light-webfont.svg#ExoLight") format("svg"); }
@font-face {
  font-family: 'ExoLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Light-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Light-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Light-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Light-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Light-Italic-webfont.svg#ExoLightItalic") format("svg"); }
@font-face {
  font-family: 'ExoRegular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Regular-webfont.eot");
  src: url("../fonts/exo/Exo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Regular-webfont.woff") format("woff"), url("../fonts/exo/Exo-Regular-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Regular-webfont.svg#ExoRegular") format("svg"); }
@font-face {
  font-family: 'ExoRegularItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Regular-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Regular-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Regular-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Regular-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Regular-Italic-webfont.svg#ExoRegularItalic") format("svg"); }
@font-face {
  font-family: 'ExoMedium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Medium-webfont.eot");
  src: url("../fonts/exo/Exo-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Medium-webfont.woff") format("woff"), url("../fonts/exo/Exo-Medium-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Medium-webfont.svg#ExoMedium") format("svg"); }
@font-face {
  font-family: 'ExoMediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Medium-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Medium-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Medium-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Medium-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Medium-Italic-webfont.svg#ExoMediumItalic") format("svg"); }
@font-face {
  font-family: 'ExoDemiBold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-DemiBold-webfont.eot");
  src: url("../fonts/exo/Exo-DemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-DemiBold-webfont.woff") format("woff"), url("../fonts/exo/Exo-DemiBold-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-DemiBold-webfont.svg#ExoDemiBold") format("svg"); }
@font-face {
  font-family: 'ExoDemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-DemiBold-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-DemiBold-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-DemiBold-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-DemiBold-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-DemiBold-Italic-webfont.svg#ExoDemiBoldItalic") format("svg"); }
@font-face {
  font-family: 'ExoBold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Bold-webfont.eot");
  src: url("../fonts/exo/Exo-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Bold-webfont.woff") format("woff"), url("../fonts/exo/Exo-Bold-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Bold-webfont.svg#ExoBold") format("svg"); }
@font-face {
  font-family: 'ExoBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Bold-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Bold-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Bold-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Bold-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Bold-Italic-webfont.svg#ExoBoldItalic") format("svg"); }
@font-face {
  font-family: 'ExoExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-ExtraBold-webfont.eot");
  src: url("../fonts/exo/Exo-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-ExtraBold-webfont.woff") format("woff"), url("../fonts/exo/Exo-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-ExtraBold-webfont.svg#ExoExtraBold") format("svg"); }
@font-face {
  font-family: 'ExoExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-ExtraBold-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-ExtraBold-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-ExtraBold-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-ExtraBold-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-ExtraBold-Italic-webfont.svg#ExoExtraBoldItalic") format("svg"); }
@font-face {
  font-family: 'ExoBlack';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Black-webfont.eot");
  src: url("../fonts/exo/Exo-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Black-webfont.woff") format("woff"), url("../fonts/exo/Exo-Black-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Black-webfont.svg#ExoBlack") format("svg"); }
@font-face {
  font-family: 'ExoBlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/exo/Exo-Black-Italic-webfont.eot");
  src: url("../fonts/exo/Exo-Black-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo-Black-Italic-webfont.woff") format("woff"), url("../fonts/exo/Exo-Black-Italic-webfont.ttf") format("truetype"), url("../fonts/exo/Exo-Black-Italic-webfont.svg#ExoBlackItalic") format("svg"); }
@font-face {
  font-family: 'Mono Social Icons Font';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/mono-social/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/mono-social/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../fonts/mono-social/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/mono-social/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/mono-social/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../fonts/mono-social/MonoSocialIconsFont-1.10.ttf") format("truetype"); }
p, ul {
  margin: 0 0 1.5em 0.25em;
  padding: 0 0.25em 0 0; }

p img {
  margin: 0 0.25em 0.25em 0;
  float: left; }

span .reference {
  padding-right: 0.25em;
  color: #27a157;
  font: 1rem "ExoBoldItalic", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-transform: lowercase; }

a {
  color: #27a157;
  text-decoration: none; }
  a:hover {
    color: #0e552b;
    text-decoration: underline; }
  a.home-link {
    position: absolute;
    top: -3em;
    left: 0;
    height: 4em;
    width: 4em;
    background-color: #27a157;
    border-radius: 0 7px 7px 0;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    line-height: 4.5em;
    text-align: center; }
    a.home-link:hover {
      background-color: #0e552b; }
  a.external {
    padding-left: 0.85em;
    background: transparent url("../images/external-link.png") no-repeat scroll left 12px; }
    #portfolio a.external {
      background-position: left 2px; }
  a.link {
    margin-bottom: 0;
    height: 15px;
    width: 15px;
    background: transparent url("../images/link-icon.png") no-repeat scroll left 0;
    display: inline-block;
    text-indent: -10000em; }
    a.link:hover {
      background-position: left bottom; }

h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  color: #333;
  font-family: "Passion One", cursive;
  font-weight: 700;
  line-height: 1.1; }

h1 {
  padding: 0;
  font-size: 5rem;
  padding: 0;
  text-align: right; }

h2 {
  font-size: 2.5rem; }

h3 {
  margin: 0.25em 0 0;
  font-size: 2rem; }

sup {
  font-size: 50%; }

.pc h1, .pc h2, .pc h3,
.pc h4, .pc h5, .pc h6,
.pc nav ul li,
.pc nav ul li a,
.pc #masonry dt span,
.pc #masonry dd p a,
.pc #masonry dd p span {
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 2em auto 0;
  padding: 0;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background: #fff url("../images/msdacia-background.png") no-repeat bottom right fixed;
  color: #333;
  font: 18px/1.5 "News Cycle", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }
  body #party {
    background-image: none; }
  body #container {
    position: relative; }
  body #wrapper {
    margin: 0 1em;
    padding: 0 0 2.5em;
    height: auto;
    width: 62%;
    overflow: auto; }
  body #mainContent {
    margin: 0;
    padding: 0 2.75em 1.25em 1em;
    position: relative; }
  body .clear::after {
    clear: both;
    content: "";
    display: table; }
  body .floatLeft {
    float: left; }
  body .floatRight {
    float: right; }
  body img.floatLeft {
    margin: 0 1.25em 0.25em 0; }

/* **********************************************************
 *  Components
 * ******************************************************* */
#back-to-bottom,
#back-to-top {
  border-width: 0;
  position: fixed;
  bottom: 40px;
  left: 0;
  height: 1.75em;
  width: 1.25em;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  background-color: #27a157;
  border-radius: 0 7px 7px 0;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.75;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  z-index: 9999; }
  #back-to-bottom:hover,
  #back-to-top:hover {
    background-color: #0e552b; }
  #back-to-bottom.show,
  #back-to-top.show {
    opacity: 1; }

#back-to-bottom {
  position: fixed;
  top: 60px;
  right: auto;
  bottom: auto;
  left: 0; }

footer {
  margin: 1.25em 0 0 2.25em;
  font-size: 0.9rem; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer p {
    color: #27a157;
    text-align: right; }
    footer p a {
      text-decoration: underline; }
      footer p a:hover {
        color: #fff; }

form {
  margin: 2.308em 0 0; }

header {
  padding: 1em 0; }

li {
  margin-bottom: 0.385em;
  list-style: none; }

#masonry {
  margin: 1.5em 0;
  padding: 0;
  -webkit-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-width: 43%;
  -ms-column-width: 43%;
  column-width: 43%;
  max-width: 713px;
  width: 100%; }
  #masonry::after {
    clear: both;
    content: "";
    display: table; }
  #masonry dl {
    margin: 0 0.6em 1em 0;
    padding: 0.6em 0.6em 0.4em;
    box-shadow: 2px 2px 4px 0 #ccc;
    display: inline-block;
    font-size: 1.25rem;
    position: relative; }
    #masonry dl .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #27a157;
      z-index: 10; }
  #masonry dd,
  #masonry dt {
    float: left;
    position: relative; }
  #masonry dt {
    margin: 0 auto;
    text-align: right; }
    #masonry dt span {
      margin-bottom: 0.6em;
      height: auto;
      width: 260px;
      display: inline-block;
      font: 1.25rem "Passion One", cursive;
      line-height: 1; }
    #masonry dt img {
      height: auto;
      width: 260px;
      display: inline-block; }
  #masonry dd {
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    height: 87%;
    width: 260px;
    display: none;
    z-index: 20; }
    #masonry dd p {
      padding: 0.5em;
      position: relative; }
      #masonry dd p:first-child {
        margin-bottom: 0;
        padding-bottom: 0; }
        #masonry dd p:first-child:hover a {
          color: #27a157; }
      #masonry dd p a, #masonry dd p:first-child em {
        color: #333;
        font: 0.9rem "ExoExtraBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        font-style: normal; }
      #masonry dd p:first-child em {
        float: none;
        font-size: 1.15rem;
        text-align: left; }
      #masonry dd p a:hover {
        text-decoration: none; }
      #masonry dd p a.link {
        margin: 0.5em 0 0.5em 0.5em;
        float: left; }
        #masonry dd p a.link:hover {
          border-bottom-width: 0;
          padding-bottom: 0;
          text-decoration: none; }
      #masonry dd p a span {
        margin-left: 1em;
        color: #333;
        font: normal 0.75rem "News Cycle", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace; }
      #masonry dd p span {
        padding-top: 0.75em;
        display: inline-block;
        font: 0.83333rem "ExoMediumItalic", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }
      #masonry dd p em {
        margin-top: 0.5em;
        margin-right: 0.5em;
        float: right;
        font: normal 0.95833rem "News Cycle", "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
        text-align: right; }

nav {
  margin: 1.5em 0;
  padding: 0 1.25em;
  float: left; }
  nav .menuToggle {
    display: none; }
    nav .menuToggle a {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      display: inline-block; }
  nav ul {
    margin: 0 2em 0 0;
    padding: 0; }
    nav ul li {
      margin-bottom: 0;
      padding: 0;
      height: auto;
      width: 50%;
      color: #333;
      display: block;
      float: left;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      text-align: right;
      text-shadow: none; }
      nav ul li a {
        color: #27a157;
        text-decoration: none; }
        nav ul li a:hover {
          color: #0e552b;
          text-decoration: underline; }

/* **********************************************************
 *  Pages and Modules
 * ******************************************************* */
#convictions [data-role="collapsible"] {
  margin-bottom: 2em; }
  #convictions [data-role="collapsible"] h4:first-child {
    margin-bottom: 2.25em; }

.centerPoem,
.rightPoem,
.leftPoem {
  margin-bottom: 1.5em;
  padding: 0.5em;
  height: auto;
  width: 100%; }

.rightPoem {
  float: right;
  text-align: right; }

.leftPoem {
  float: left;
  text-align: left; }

.centerPoem {
  text-align: center; }

.introBlock p {
  margin-bottom: 1em; }

#resume [data-role="collapsible"] {
  margin-bottom: 1em; }

.resume p span {
  font-size: 0.9rem; }
.resume h3 {
  margin-top: 1.25em; }
.resume h4 {
  margin-top: 0.625em;
  margin-bottom: 0;
  color: #27a157;
  font-size: 115%;
  font-weight: 400; }
.resume .contentBlock h4:first-child {
  margin-top: 0; }
.resume ul {
  margin-right: 1.25em;
  margin-bottom: 2.308em;
  list-style: inside circle; }
  .resume ul li {
    margin-bottom: 0.385em;
    margin-left: 1.25em;
    list-style: outside square; }

.symbol,
a.symbol:before {
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  font-family: "Mono Social Icons Font"; }

a.symbol:before {
  margin-right: 0.3em;
  content: attr(title);
  font-size: 1.5rem; }

#socialMedia li {
  margin: 0 1em 0 0;
  display: inline-block;
  overflow: hidden; }
  #socialMedia li:last-child {
    margin-right: 0; }
  #socialMedia li a {
    display: block;
    text-decoration: none; }
    #socialMedia li a:hover {
      text-decoration: none; }
    #socialMedia li a span {
      font-size: 4rem; }

/* **********************************************************
 *  Media
 * ******************************************************* */
@media only screen and (min-width: 1824px) {
  /* Will add if needed */ }
@media only screen and (max-width: 1823px) {
  /* Will add if needed */ }
@media only screen and (max-width: 1200px) {
  /* Will add if needed */ }
@media only screen and (max-width: 1024px) {
  #wrapper {
    height: auto;
    width: 60%; }

  #socialMedia li a span {
    font-size: 3.5rem; } }
@media only screen and (max-width: 980px) {
  body:not(#intro) {
    background-image: none; }

  #masonry dl {
    margin-right: 0.2em; } }
@media only screen and (max-width: 768px) {
  body {
    background-position: right 200%; }

  #wrapper {
    padding: 0 0.5em 0 1.5em;
    height: auto;
    width: auto; }

  #resume #wrapper {
    padding-left: 0.5em; }

  #mainContent {
    padding-right: 0; }

  footer {
    height: auto;
    width: auto; }
    footer p {
      margin-bottom: 0.75em; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2rem; }

  nav {
    margin-top: 0;
    padding: 0;
    height: auto;
    width: 100%; }
    nav ul li {
      font-size: 1.75rem; }

  p {
    margin-bottom: 1.5em; }

  #masonry dl {
    margin-right: 0; }
  #masonry dt span {
    margin: 0;
    line-height: 1; }
  #masonry .introBlock.double {
    margin-left: 0;
    height: auto;
    width: 93%;
    line-height: 1.2; } }
@media only screen and (max-width: 768px) and (orientation: landscape) {
  body {
    margin-top: 0;
    background-position: 88% 45%; }

  #mainContent {
    padding-bottom: 0; }

  a.home-link {
    top: -1em; }

  footer {
    height: auto;
    width: 54%; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2rem; }

  nav {
    padding: 0 0.5em;
    height: auto;
    width: 60%; }

  body:not(#intro) footer,
  body:not(#intro) nav {
    height: auto;
    width: 100%; }

  nav ul li {
    font-size: 1.5rem; }

  #socialMedia li a span {
    font-size: 2.5rem; } }
@media only screen and (max-width: 640px) {
  body {
    margin-top: 0.5em;
    background-position: 88% 45%; }

  #wrapper {
    padding-right: 0.5em;
    padding-left: 0.5em;
    height: auto;
    width: 95%; }

  #mainContent {
    padding-bottom: 0; }

  h1 {
    font-size: 5rem; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2rem; }

  nav {
    margin-top: -4em;
    height: auto;
    width: 60%; }
    nav ul li {
      height: auto;
      width: 51%;
      font-size: 1.75rem; }

  body:not(#intro) nav ul li {
    height: auto;
    width: 50%; }

  #masonry {
    margin: 0 auto; }
    #masonry dl {
      margin-right: 0;
      margin-left: 0;
      padding-right: 0;
      padding-left: 0; }
    #masonry dt span {
      margin: 0;
      line-height: 1; }
    #masonry .introBlock.double {
      margin-left: 0;
      height: auto;
      width: 93%;
      line-height: 1.2; }
    #masonry dd p {
      height: auto;
      width: 95%; }
      #masonry dd p:first-child {
        height: auto;
        width: 100%; }

  .rightPoem,
  .centerPoem,
  .leftPoem {
    padding: 0.5em 0;
    float: left;
    text-align: left; }

  #poetry h2 {
    font-size: 2rem; }

  footer {
    height: auto;
    width: 60%; }

  body:not(#intro) nav,
  body:not(#intro) footer {
    margin-top: 0;
    height: auto;
    width: auto; }

  #socialMedia li a span {
    font-size: 2.5rem; } }
@media only screen and (max-width: 568px) {
  h1 {
    margin-right: 1em;
    font-size: 3.75rem; }

  body:not(#intro) h1 {
    margin-right: 0; } }
@media only screen and (max-width: 480px) {
  body {
    background-position: 88% -10%; }

  #wrapper {
    margin-left: 0;
    padding-right: 1em;
    padding-left: 1em;
    height: auto;
    width: 100%; }

  #mainContent {
    padding-right: 1em; }

  #portfolio #mainContent {
    padding: 0;
    height: auto;
    width: 100%; }

  h1 {
    margin-right: 0; }

  nav {
    margin-top: 0;
    height: auto;
    width: 100%; }
    nav ul {
      margin-right: 1em; }
      nav ul li {
        padding-right: 0;
        padding-left: 0;
        height: auto;
        width: 50%; }

  footer {
    height: auto;
    width: 100%; } }
@media only screen and (max-width: 414px) {
  a.home-link {
    position: relative;
    top: 0;
    height: auto;
    width: auto;
    background: transparent;
    color: #27a157;
    font-weight: 700;
    line-height: 1;
    text-align: left; }

  h1 {
    text-align: left; }

  footer {
    height: auto;
    width: 70%; } }
@media (max-width: 375px) {
  body {
    background-image: none; }

  footer {
    height: auto;
    width: 100%; }
    footer p a:hover {
      color: #0e552b; }

  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 2rem; }

  h3 {
    font-size: 1.5rem; }

  nav ul li {
    font-size: 1.25rem; }

  #poetry h2 {
    font-size: 1.5rem; } }
@media only screen and (max-width: 240px) {
  #wrapper {
    padding: 0 0 0 0.5em; }

  #mainContent {
    padding: 0; }

  nav ul li {
    height: auto;
    width: 100%;
    float: none; } }

/*# sourceMappingURL=style.css.map */
