.centerPoem,
.rightPoem,
.leftPoem {
	@include margin(null null 1.5em null);
	@include padding(0.5em);
	@include size(100% auto);
}

.rightPoem {
	float: right;
	text-align: right;
}

.leftPoem {
	float: left;
	text-align: left;
}

.centerPoem { text-align: center; }
