#resume [data-role="collapsible"] {
  @include margin(null null 1em null);
}

.resume {
  p {
    span { font-size: $small-font-size; }
  }

  h3 { @include margin(1.250em null null null); }

  h4 {
    @include margin(0.625em null 0 null);
    color: $color-primary;
  	font-size: 115%;
  	font-weight: 400;
  }

  .contentBlock {
    h4:first-child { @include margin(0 null null null); }
  }

  ul {
    @include margin(null 1.250em 2.308em null);
    list-style: inside circle;

    li {
      @include margin(null null 0.385em 1.25em);
      list-style: outside square;
    }
  }
}
