<!-- portfolio container -->
<div id="portfolio" data-role="page">
	<section id="mainContent" class="resume portfolio" data-role="content">

		<h1>Portfolio</h1>
		<div class="introBlock double">
			<p>Please browse my gallery of projects. For more information, if you are using touch screen, simply tap/hold on the screenshot, otherwise, hover over the screenshot to view more details about my roles and responsibility for each project. In addition to my roles and responsibilities, there is a link to either a staging version or live version of the site. Live versions have the external icon to the right of the link. In some cases, both links are provided, and when that happens, you will see the link icon at the bottom right of the container for the live version. Unfortunately, a lot of my client work is proprietary, so I will not share code. <a href="assets/miscellaneous/DaciaJamesPortfolioListing.pdf">download portfolio listing (.pdf)</a></p>
		</div>

		<div id="masonry">
		</div> <!-- end textContent -->
	</section> <!-- end mainContent -->
</div>
<!-- end portfolio container -->
