p, ul {
	@include margin(0 0 1.5em 0.25em);
	@include padding(0 0.25em 0 0);
}

p {
  img {
		@include margin(0 0.25em 0.25em 0);
		float: left;
  }
}

span {
  .reference {
		@include padding(null 0.25em null null);
		color: $color-primary;
  	font: $base-font-size $font-secondary-bold-italic;
  	text-transform: lowercase;
  }
}

a {
	color: $link-color-primary;
	text-decoration: none;

  &:hover  {
  	color: $link-color-primary-hover;
  	text-decoration: underline;
  }

  &.home-link {
		@include position(absolute, -3em null null 0);
		@include size(4em 4em);
		background-color: $background-color;
  	border-radius: 0 7px 7px 0;
  	color: $link-color-secondary;
  	display: block;
  	font-size: $small-font-size;
  	line-height: 4.5em;
  	text-align: center;

		&:hover {
			background-color: $link-color-primary-hover;
		}
  }

  &.external {
		@include padding(null null null 0.85em);
		background: transparent url($image-path+'/external-link.png') no-repeat scroll left 12px;

		#portfolio & {background-position: left 2px; }
  }

  &.link {
		@include margin(null null 0 null);
		@include size(15px 15px);
		background: transparent url($image-path+'/link-icon.png') no-repeat scroll left 0;
  	display: inline-block;
  	text-indent: -10000em;

    &:hover { background-position: left bottom; }
  }
}

h1, h2, h3,
h4, h5, h6 {
	@include margin(0);
	color: $color-secondary;
	font-family: $font-cursive;
	font-weight: 700;
	line-height: 1.1;
}

h1 {
	@include padding(0);
	font-size: $extra-extra-large-font-size;
	padding: 0;
	text-align: right;
}

h2 { font-size: $larger-large-font-size; }

h3 {
	@include margin(0.25em 0 0);
	font-size: $larger-font-size;
}

sup { font-size: 50%; }

.pc {
  h1, h2, h3,
  h4, h5, h6,
  nav ul li,
  nav ul li a,
  #masonry dt span,
  #masonry dd p a,
  #masonry dd p span { font-family: $lucida-grande; }
}
