// colors
$gray-lightest: #e0e0e0;
$gray-light: #ceced0;
$gray-dark: #333;
$blue: #0077d3;
$blue-dark: #0339a1;
$blue-baby: #7fd5f5;
$green: #27a157;
$green-dark: #0e552b;
$yellow: #ffc000;
$yellow-bright: #fff717;
$yellow-dark: #d0a203;
$yellow-light: #fdea9e;
$white: #fff;
$red: #ff0047;
$black: #000;


// standard colors
$color-primary: $green;
$color-secondary: $gray-dark;
$color-tertiary: $black;
$background-color: $color-primary;
$link-color-primary: $color-primary;
$link-color-secondary: $white;
$link-color-primary-hover: $green-dark;
$link-color-secondary-hover: $color-tertiary;


// fonts
$font-primary-stack: 'News Cycle', $monospace;
$font-cursive: 'Passion One', cursive;
$font-secondary-stack: 'ExoRegular', $helvetica;
$font-secondary-italic: 'ExoRegularItalic', $helvetica;
$font-secondary-bold: 'ExoBold', $helvetica;
$font-secondary-thin: 'ExoThin', $helvetica;
$font-secondary-bold-italic: 'ExoBoldItalic', $helvetica;
$font-secondary-thin-italic: 'ExoThinItalic', $helvetica;
$font-secondary-extra-light: 'ExoExtraLight', $helvetica;
$font-secondary-extra-light-italic: 'ExoExtraLightItalic', $helvetica;
$font-secondary-light: 'ExoLight', $helvetica;
$font-secondary-light-italic: 'ExoLightItalic', $helvetica;
$font-secondary-medium: 'ExoMedium', $helvetica;
$font-secondary-medium-italic: 'ExoMediumItalic', $helvetica;
$font-secondary-demi-bold: 'ExoDemiBold', $helvetica;
$font-secondary-demi-bold-italic: 'ExoDemiBoldItalic', $helvetica;
$font-secondary-extra-bold: 'ExoExtraBold', $helvetica;
$font-secondary-extra-bold-italic: 'ExoExtraBoldItalic', $helvetica;
$font-secondary-black: 'ExoBlack', $helvetica;
$font-secondary-black-italic: 'ExoBlackItalic', $helvetica;
$font-icon-stack: 'Mono Social Icons Font';


// text
$base-font-size: 1rem;
$base-line-height: 1.2;
$small-font-size: 0.9rem;
$smaller-font-size: 0.85rem;
$smallest-font-size: 0.75rem;
$medium-font-size: 1.15rem;
$medium-large-font-size: 1.25rem;
$medium-larger-font-size: 1.5rem;
$large-font-size: 1.75rem;
$larger-font-size: 2rem;
$larger-large-font-size: 2.5rem;
$largest-font-size: 3rem;
$largest-large-font-size: 3.5rem;
$extra-medium-large-font-size: 3.75rem;
$extra-large-font-size: 4rem;
$extra-extra-large-font-size: 5rem;
$line-height-computed: $base-font-size * $base-line-height;


// images
$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
