/dist
node_modules

/test/e2e/reports/
/test/unit/coverage/
/src/vendor/

.DS_Store
npm-debug.log
selenium-debug.log
datastore.js
datastore.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
