body
	&.light
		background-color: $background
		color: $text-alt

		.container,
		.wrapper
			color: $text-alt

		.overlay
			background-color: $background-a

		h1, h2, h3,
		h4, h5, h6
			a
				i,
				.icon,
				.svg-inline--fa
					color: $anchor-text-hover-alt

				&:hover,
				&:focus,
				&:active
					i,
					.icon,
					.svg-inline--fa
						color: $anchor-text-hover-alt

		h1
			color: $header-text-alt

		a
			color: $text4

			&:hover,
			&.active,
			&.router-link-exact-active
				color: $anchor-text-hover-alt

				i,
				.icon,
				.svg-inline--fa
					color: $anchor-text-hover-alt

			i,
			.icon,
			.svg-inline--fa
				color: $text-alt

		i,
		.icon,
		.svg-inline--fa
			color: $text-alt
			text-shadow: none

			&:hover,
			&.active
				color: $anchor-text-hover-alt
				text-shadow: none

		h2,
		.ui.attached.header
			text-shadow: none

		.ui.table,
		.ui.message,
		.ui.attached.header
			color: $text-alt
			text-shadow: none

		.ui.definition.table tr,
		.ui.definition.table tr,
		.ui.table:not(.unstackable) tr,
		.ui.table:not(.unstackable) tr
			box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .3) inset !important

			td.definition,
			td:first-child:not(.ignored),
			> td,
			> th
				color: $text-alt

		.ui.label
			background-color: $background-alt-b
			color: $text

		.ui.horizontal.divider
			color: $text-alt

			> .icon
				color: $text-alt

		.ui.list,
		ol.ui.list,
		ul.ui.list
			a
				color: $text4

				&:hover,
				&.active,
				&.router-link-exact-active
					color: $text3

					&:before
						background: $anchor-text-hover-alt

				i,
				.icon,
				.svg-inline--fa
					color: $text4

		.ui.message,
		.ui.banner
			&.ad
				background: $background-b

				.header
					text-shadow: none

		.ui.feed > .event
			.content
				.date
					color: $text4
					text-shadow: none

				.summary,
				.extra.text
					color: $text-alt

				a
					color: $text4

		.ui.card,
		.ui.cards > .card
			> .extra a:not(.ui):hover,
			> .card >.extra a:not(.ui):hover
				color: $text-alt

			.description,
			p,
			.header
				color: $text-alt

			.extra
				a
					color: $anchor-text-alt

			.content
				.date,
				.time
					color: $text3

				.header,
				.meta,
				.description,
				.extra.text
					color: $text-alt

				a
					color: $anchor-text-alt

		.ui.accordion .title:not(.ui),
		.ui.accordion .accordion .title:not(.ui)
			.ui.message
				.header:not(.ui)
					text-shadow: none

			&:hover,
			&.active
				.ui.message
					.header:not(.ui)
						text-shadow: none

		.ui.accordion,
		.ui.accordion .accordion
			.title:not(.ui)
				color: $text-alt
				text-shadow: none

				&:hover
					.ui.message,
					.ui.attached.header
						color: $text4
						text-shadow: none

				&.active
					.ui.message,
					.ui.attached.header
						color: $text4
						text-shadow: none

						i,
						.icon,
						.svg-inline--fa
							color: $text4
							text-shadow: none

		.card
			background-color: transparent

			> a
				@include tablet-xlarge
					&:hover
						border-color: $text-alt


		.statistics
			.ui.labels
				.ui.label
					background: $background-b
					color: $text-alt

		.timeline
			.ui[class*="bottom attached"].label
				background-color: $background-alt-b
				color: $text

			.ui.segment
				.ui.massive.label,
				.ui.massive.labels .label
					color: $text-alt

		.ui.modal
			.actions
				i,
				.icon,
				.svg-inline--fa
					color: $text

		address ~ p
			a
				color: $text-alt

				&:hover,
				&.active
					color: $anchor-text-hover-alt

		header
			.ui.left,
			.ui.right
				a
					@include black()
					color: $anchor-text-alt

					&:hover,
					&.active,
					&.router-link-exact-active
						color: $text3

						i,
						.icon,
						.svg-inline--fa
							color: $text3

				i,
				.icon,
				.svg-inline--fa
					color: $anchor-text-alt

				.launch
					.item
						color: $anchor-text-alt

						i
							&.on
								color: $anchor-text-hover-alt

						em
							&.active
								color: $anchor-text-hover-alt

					.menu
						background: $background

						a
							&:hover,
							&.active,
							&.router-link-exact-active
								color: $anchor-text-hover-alt

								&:before
									background: $anchor-text-hover-alt

		footer
			a
				color: $text-alt

				&:hover
					color: $anchor-text-hover-alt

		main
			.copy
				h1
					color: $text-alt

				h2
					color: $anchor-text-hover-alt
					text-shadow: $text-shadow-hover-alt