body
	&.light
		background: $background
		color: $text-alt

		.container,
		.wrapper
			background-color: $background
			color: $text-alt

		.container
			filter: invert(0%)

		.overlay
			background-color: $background-b

		h1, h2, h3,
		h4, h5, h6
			a
				&:hover,
				&:focus,
				&:active
					i,
					.icon,
					.svg-inline--fa
						color: $anchor-text-hover-alt

		h1
			color: $text-alt
			text-shadow: $text-shadow-alt

		.ui.accordion,
		.ui.accordion .accordion
			.title:not(.ui)
				color: $text-alt

		.ui.card,
		.ui.cards > .card
			> .extra a:not(.ui):hover,
			> .card >.extra a:not(.ui):hover
				color: $text-alt

			.description,
			p,
			.header
				color: $text-alt

			.extra
				a
					color: $anchor-text-alt

		a,
		a:visited,
		a:link
			color: $anchor-text-alt

			&:not(.tab-title),
			&:not(.has-icon),
			&:not(.button-link)
				&:before
					background: $anchor-text-hover-alt

			&:hover,
			&.active,
			&.router-link-exact-active
				color: $text-alt

				&:before
					background: $anchor-text-hover-alt

			// &.router-link-exact-active
			// 	&.current
			// 		color: $text-alt

			// 		&:before
			// 			background: $anchor-text-hover-alt

			&.has-icon
				i,
				.icon,
				.svg-inline--fa
					&.fa-chevron-up
						color: $anchor-text-alt !important

		i,
		.icon,
		.svg-inline--fa
			&:hover,
			&.active
				color: $background3
				text-shadow: $text-shadow-hover-alt

		header
			.ui.right
				.launch
					.item
						color: $text-alt

					.menu
						background: $background