@import 'themes/palette.sass'
@import 'themes/paletteA.sass'
@import 'themes/paletteB.sass'
@import 'themes/paletteC.sass'
@import 'themes/paletteD.sass'

@import 'variables.sass'
@import 'tools.mixins.sass'

@import 'invert.sass'

*
	-webkit-user-select: none
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)

html,
body,
.wrapper,
#app
	-webkit-overflow-scrolling: touch
	height: 100%

html
	box-sizing: border-box
	font-size: 90%
	line-height: 1.5

body
	background-color: $background-alt
	color: $text
	font-size: 18px
	overflow-x: hidden !important
	position: relative

.wrapper
	background-color: $background-alt
	color: $text
	display: block
	font: 17px/1.6 $font-stack-sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: left

.overlay
	@include abs-pos(0, 0, 0, 0)
	@include size(100%, 100%)
	background-color: $background-alt-a
	position: fixed
	z-index: 2

main
	font-size: 1.75rem

	.ui.grid
		font-size: 1.25rem

.block
	position: relative

em
	font-style: normal

h1, h2, h3,
h4, h5, h6
	@include rem(margin, 0 0 10px)
	font-family: $font-stack-serif
	font-weight: normal
	line-height: 1.6

	a
		i,
		.icon,
		.svg-inline--fa
			@include rem(margin-left, 3px)
			@include rem(margin-right, 0)
			@include rem(top, -2px)
			font-size: 11px
			position: relative

		&:hover,
		&:focus,
		&:active
			i,
			.icon,
			.svg-inline--fa
				color: $anchor-text-hover
				cursor: pointer

h1
	@include abs-pos(170px, auto, auto, -120px)
	@include black()
	@include rem(letter-spacing, 2px)
	color: $header-text
	cursor: pointer
	font-size: 64px
	line-height: 1
	margin-bottom: 0
	position: fixed
	text-shadow: none
	transform: rotate(90deg)

	span
		font-size: 32px

		&:last-of-type
			font-size: 42px

a
	box-shadow: 0 0 1px transparent
	color: $anchor-text
	display: inline-block
	overflow: hidden
	padding-bottom: 3px
	position: relative
	text-decoration: none
	vertical-align: top

	&:not(.has-icon)
		&:before
			@include abs-pos(auto, 100%, 0, 0)
			@include transition(all 1s ease-in)
			background: $background3
			content: ""
			height: 0
			left: 0
			right: auto
			z-index: 1

	&:hover,
	&.active,
	&.router-link-exact-active
		color: $anchor-text-hover
		cursor: pointer

		&:before
			background: $anchor-text-hover
			height: 3px
			right: 0

		i,
		.icon,
		.svg-inline--fa
			color: $anchor-text-hover

i,
.icon,
.svg-inline--fa
	@include rem(font-size, 18px)
	@include rem(margin-right, 5px)
	display: inline-block
	font-size: 18px

	&:hover,
	&.active
		color: $anchor-text-hover
		text-shadow: $text-shadow-hover

ul
	list-style-position: inside

h2,
.ui.attached.header
	@include bold()
	border: 0
	padding-left: 0
	padding-right: 0
	text-shadow: $text-shadow

.ui.table
	max-width: 900px

.ui.table,
.ui.message,
.ui.attached.header
	background: transparent
	color: $text

.ui.table,
.ui.feed > .event,
.ui.message
	border: 0 none
	box-shadow: unset
	padding-left: 0
	padding-right: 0

	&.icon > .icon:not(.close)
		font-size: 2rem

	.content
		margin: 0

.ui.definition.table tr,
.ui.definition.table tr,
.ui.table:not(.unstackable) tr,
.ui.table:not(.unstackable) tr
	box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .3) inset !important

	td.definition,
	td:first-child:not(.ignored),
	> td,
	> th
		color: $text
		padding: 0 10px 0 0 !important

.ui.horizontal.list
	width: 100%

	.list > .item,
	> .item
		margin-left: 0
		padding-left: 0
		width: 50%

		@include tablet-small
			width: 25%

		.content
			margin-left: 0

			a
				font-size: 1.75rem

.ui.feed > .event
	.content
		.date
			@include bold()
			@include rem(padding-left, 5px)
			background: $background-a
			color: lighten($text3, 20%)

		.summary,
		.extra.text
			color: $text
			max-width: none

		.summary
			font-weight: normal

		a
			color: $anchor-text

.ui.label
	background-color: $background-b
	color: $text-alt
	
.ui.list .list,
.ui.list
	> .item
		> i.icon
			@include rem(padding-top, 5px)

.ui.menu
	background: transparent
	border: 0
	box-shadow: unset

.ui.dropdown .menu
	background: transparent

.ui.card,
.ui.cards > .card
	background-color: transparent
	box-shadow: unset

	> .extra a:not(.ui):hover,
	> .card >.extra a:not(.ui):hover
		color: $text

	.description,
	p,
	.header
		color: $text

	.extra
		max-width: none

		a
			color: $anchor-text

	.content
		@include rem(padding, 15px 0)

		.date,
		.time
			@include bold()
			@include rem(font-size, 10px)
			@include rem(margin-bottom, 15px)
			@include rem(padding, 0 5px)
			background: $background-a
			color: lighten($text3, 20%)
			width: 100%

		.header,
		.meta,
		.description,
		.extra.text
			color: $text
			max-width: none

			em
				@include bold()
				font-style: italic

		.summary
			font-weight: normal

		a
			color: $anchor-text

.content
	@include rem(margin-left, 20px)
	line-height: 1.5

	.header
		@include rem(margin-bottom, 10px)

	p
		@include rem(margin-bottom, 30px)
		font-size: 1rem

	ul
		margin-left: 0
		padding-left: 0

		li
			list-style: none

			p
				margin: 0

	.image
		border: 0 none !important

.ui.segment,
.ui.segments .segment
	background: transparent
	border: 0 none
	font-size: inherit

	&.attached
		@include rem(margin-bottom, 15px)
		padding: 0

.ui.accordion,
.ui.accordion .accordion
	.title:not(.ui)
		color: $text

		&:hover
			.ui.message,
			.ui.attached.header
				color: lighten($text3, 20%)

		&.active
			.ui.message,
			.ui.attached.header
				color: lighten($text3, 30%)

	&:not(.styled) .accordion .title~.content:not(.ui),
	&:not(.styled) .title~.content:not(.ui)
		margin-left: 0

		p
			@include phablet
				font-size: 1.75rem

.lead
	@include black()
	@include rem(margin-top, 10px)
	font-size: 64px
	line-height: 1
	margin-bottom: 0
	text-shadow: $text-shadow

	@include tablet
		@include rem(margin-bottom, 10px)

.nowrap
	white-space: nowrap

[data-tooltip]:before
	z-index: 6

[data-tooltip]:after
	@include rem(padding-bottom, 10px)
	max-width: 500px
	min-width: 300px
	white-space: normal
	z-index: 12

[data-inverted]:after,
[data-inverted]:before
	background: $color-grey-dark

.card
	@include animation(1s fadeIn forwards)
	@include rem(padding, 0 !important)
	background-color: $background3
	text-align: left
	width: 100%

	@include tablet-small
		border-radius: 0

	@include tablet-xlarge
		@include rem(margin-bottom, 20px)
		display: block
		max-width: 900px

	> a
		@include tablet-xlarge
			display: block
			max-height: 200px
			overflow: hidden

			@include tablet-xlarge
				max-height: 120px

			&:hover
				border-color: $text
				text-decoration: none

			img
				width: 100%

	.card-link
		@include rem(letter-spacing, .5px)
		@include rem(top, -1px)
		font-family: $font-stack-serif

	h2
		i,
		.icon,
		.svg-inline--fa
			font-size: 24px
			position: relative

address
	font-style: normal

.horizontal-scroll
	background: $background-alt-c
	height: 120px
	max-width: 900px
	overflow-x: scroll
	overflow-y: hidden
	white-space: nowrap

	.scroll
		@include rem(margin, 2px)
		@include rem(padding-top, 2.5px)
		cursor: pointer
		display: inline-block
		max-height: 100px

.nowrap
	white-space: nowrap

.invisible-content
	visibility: hidden !important

.visible-content
	visibility: visible !important

.hide-content
	display: none !important

.show-content
	display: block !important

.mobile-only
	display: inline-block !important

	@include phablet
		display: none !important

.desktop-only
	display: none !important

	@include phablet
		display: inline-block !important

@-webkit-keyframes fadeIn
	0% { opacity: 0; transform: translateY(50px) }

	30% { opacity: 0 }

	100% { opacity: 1; transform: translateY(0) }

@keyframes fadeIn
	0% { opacity: 0; transform: translateY(50px) }

	30% { opacity: 0 }

	100% { opacity: 1; transform: translateY(0) }

@-webkit-keyframes fadeOut
	0% { opacity: 1; transform: translateY(50px) }

	30% { opacity: 1 }

	100% { opacity: 0; transform: translateY(0) }

@keyframes fadeOut
	0% { opacity: 1; transform: translateY(50px) }

	30% { opacity: 1 }

	100% { opacity: 0; transform: translateY(0) }

@keyframes type
	from { width: 0 } 

@keyframes background
	0% { background-position: 0 0 }

	100% { background-position: 100% 0 }
