@import 'themes/palette.sass'
@import 'themes/paletteA.sass'
@import 'themes/paletteB.sass'
@import 'themes/paletteC.sass'
@import 'themes/paletteD.sass'

@import 'variables.sass'
@import 'tools.mixins.sass'

*
	-webkit-user-select: none
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0)

html,
body
	-webkit-overflow-scrolling: touch
	height: 100%

html
	box-sizing: border-box
	font-size: 90%
	line-height: 1.5

body
	background-color: $background-alt
	color: $background
	font-size: 18px
	overflow-x: hidden !important
	position: relative

.wrapper
	color: $text
	display: block
	font: 17px/1.6 $font-stack-sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: left

i,
.svg-inline--fa
	@include rem(margin-right, 5px)
	display: inline-block
	font-size: 18px

em
	font-style: normal

h1, h2, h3,
h4, h5, h6
	@include rem(margin, 0 0 10px)
	font-family: $font-stack-serif
	font-weight: normal
	line-height: 1.6

	a
		i,
		.svg-inline--fa
			@include rem(margin-left, 3px)
			@include rem(margin-right, 0)
			@include rem(top, -2px)
			font-size: 11px
			position: relative

		&:hover,
		&:focus,
		&:active
			i,
			.svg-inline--fa
				color: $anchor-text-hover
				cursor: pointer

h1
	@include black()
	@include rem(letter-spacing, 2px)
	color: $text
	cursor: pointer
	font-size: 64px
	line-height: 1
	text-align: center
	text-shadow: $text-shadow
	//transform: rotate(90deg)
	//transform-origin: 0 -5px 0

	span
		font-size: 32px

		&:last-of-type
			font-size: 42px

h2
	@include bold()
	text-shadow: $text-shadow

.ui.menu
	background: transparent
	border: 0
	box-shadow: unset

.ui.dropdown .menu
	background: transparent

.ui.cards > .card .header:not(.ui),
.ui.cards > .card .content > .header:not(.ui),
.ui.menu,

.ui.card,
.ui.cards > .card
	background-color: transparent
	box-shadow: unset

	> .extra a:not(.ui):hover,
	> .card >.extra a:not(.ui):hover
		color: $text

	.description,
	p,
	.header
		color: $text

	.extra
		a
			color: $anchor-text

.content
	@include rem(margin-left, 20px)

	p
		@include rem(margin-bottom, 30px)

	ul
		margin-left: 0
		padding-left: 0

		li
			list-style: none

			p
				margin: 0

	.image
		border: 0 none !important

.ui.segment,
.ui.segments .segment
	background: transparent
	border: 0 none
	font-size: inherit

a,
a:visited,
a:link
	box-shadow: 0 0 1px transparent
	color: $anchor-text
	display: inline-block
	overflow: hidden
	position: relative
	text-decoration: none
	vertical-align: top

	&:not(.tab-title),
	&:not(.has-icon),
	&:not(.button-link)
		&:before
			@include abs-pos(auto, 100%, 0, 0)
			@include transition(all 1s ease-in)
			background: $anchor-text-hover
			content: ""
			height: 0
			left: 0
			right: auto
			z-index: 1

	&:hover,
	&.active
		color: $text
		cursor: pointer

		&:before
			background: $anchor-text-hover
			height: 2px
			right: 0

	&.has-icon
		&:before
			background: transparent

		i,
		.svg-inline--fa
			&.fa-chevron-up
				color: $anchor-text !important

		&:hover,
		&.active
			&:before
				background: transparent

i,
.svg-inline--fa
	@include rem(font-size, 18px)
	@include rem(margin-right, 5px)
	display: inline-block

ul
	list-style-position: inside

.lead
	@include black()
	@include rem(margin-top, 10px)
	font-size: 64px
	line-height: 1
	margin-bottom: 0
	text-shadow: $text-shadow

	@include tablet
		@include rem(margin-bottom, 10px)

.nowrap
	white-space: nowrap

[data-tooltip]:before
	z-index: 6

[data-tooltip]:after
	@include rem(padding-bottom, 10px)
	max-width: 500px
	min-width: 300px
	white-space: normal
	z-index: 12

[data-inverted]:after,
[data-inverted]:before
	background: $color-grey-dark

.card
	@include animation(1s fadeIn forwards)
	@include rem(padding, 0 !important)
	background-color: $background3
	text-align: left

	@include tablet-small
		border-radius: 0

	@include tablet-xlarge
		@include rem(margin-bottom, 20px)
		display: block
		max-width: 660px

	> a
		@include tablet-xlarge
			display: block
			max-height: 200px
			overflow: hidden

			@include tablet-xlarge
				max-height: 120px

			&:hover
				border-color: $text
				text-decoration: none

			img
				width: 100%

	.card-link
		@include rem(letter-spacing, .5px)
		@include rem(top, -1px)
		font-family: $font-stack-serif

	h2
		i,
		.svg-inline--fa
			font-size: 24px
			position: relative

address
	font-style: normal

.nowrap
	white-space: nowrap

.invisible-content
	visibility: hidden !important

.visible-content
	visibility: visible !important

.hide-content
	display: none !important

.show-content
	display: block !important

.mobile-only
	display: inline-block !important

	@include phablet
		display: none !important

.desktop-only
	display: none !important

	@include phablet
		display: inline-block !important

@-webkit-keyframes fadeIn
	0% { opacity: 0; transform: translateY(50px) }

	30% { opacity: 0 }

	100% { opacity: 1; transform: translateY(0) }

@keyframes fadeIn
	0% { opacity: 0; transform: translateY(50px) }

	30% { opacity: 0 }

	100% { opacity: 1; transform: translateY(0) }

@-webkit-keyframes fadeOut
	0% { opacity: 1; transform: translateY(50px) }

	30% { opacity: 1 }

	100% { opacity: 0; transform: translateY(0) }

@keyframes fadeOut
	0% { opacity: 1; transform: translateY(50px) }

	30% { opacity: 1 }

	100% { opacity: 0; transform: translateY(0) }