
$font-stack-serif: 'News Cycle', 'Times New Roman', 'Times', serif
$font-stack-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

$base-font-size: 18px

$color-white: #fff
$color-black: #000
$color-grey: #8a8a8a
$color-grey-dark: #2c2c2c
$color-grey-lt: #bdbdbd
$color-grey-md: #4e4e4e

$background: $color-white
$background-a: rgba(255, 255, 255, 0.7)
$background-b: rgba(255, 255, 255, 0.6)
$background-c: rgba(255, 255, 255, 0.4)
$background-alt: $color-black
$background-alt-a: rgba(0, 0, 0, 0.7)
$background-alt-b: rgba(0, 0, 0, 0.5)
$background-alt-c: rgba(0, 0, 0, 0.3)
$background1: $themeD-color1
$background2: $themeD-color2
$background3: $themeD-color3
$background4: $themeD-color4
$background5: $themeD-color5
$background6: $themeD-color6

$text: $color-white
$text-alt: $color-black
$text1: $themeD-color1
$text2: $themeD-color2
$text3: $themeD-color3
$text4: $themeD-color4
$text5: $themeD-color5
$text6: $themeD-color6
$header-text: lighten($text2, 20%)
$header-text-alt: $text2
$anchor-text: lighten($text3, 30%)
$anchor-text-alt: $text4
$anchor-text-hover: lighten($text3, 40%)
$anchor-text-hover-alt: $text4

$text-shadow: 0 0 15px $text
$text-shadow-alt: 0 0 15px $text-alt
$text-shadow-hover: 0 0 15px $anchor-text-hover
$text-shadow-hover-alt: 0 0 15px $anchor-text-hover-alt

$mobile-tiny: 340px
$mobile-xsmall: 380px
$mobile-small: 420px
$mobile: 480px
$phablet-small: 580px
$phablet: 600px
$phablet-large: 620px
$tablet-small: 768px
$tablet: 820px
$tablet-large: 980px
$tablet-xlarge: 1110px
$desktop: 1280px
$desktop-large: 1440px
$desktop-xlarge: 1960px
