
$font-stack-serif: 'News Cycle', 'Times New Roman', 'Times', serif
$font-stack-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

$base-font-size: 17px

$border-radius: .25rem
$border-radius-round: 50%
$border-radius-none: 0

$color-white: #fff
$color-black: #000
$color-grey: #8a8a8a
$color-grey-dark: #2c2c2c
$color-grey-lt: #bdbdbd
$color-grey-md: #4e4e4e

$background: $themeD-color4
$background2: $color-white
$background2a: rgba(255, 255, 255, 0.8)
$background2b: rgba(255, 255, 255, 0.6)
$background2c: rgba(255, 255, 255, 0.3)
$background3: $color-black
$background3a: rgba(0, 0, 0, 0.8)
$background3b: rgba(0, 0, 0, 0.6)
$background3c: rgba(0, 0, 0, 0.4)
$background4: $themeD-color1
$background5: $themeD-color2
$background6: $themeD-color3
$background7: $themeD-color5

$text: $color-white
$text2: $themeD-color1
$text3: $themeD-color2
$text4: $themeD-color3
$text5: $themeD-color4
$text6: $themeD-color5
$anchor-text: $text2
$anchor-text2: $text
$anchor-text-hover: $text3

$text-shadow: 0 0 15px $text3

$mobile-tiny: 340px
$mobile-xsmall: 380px
$mobile-small: 420px
$mobile: 480px
$phablet-small: 580px
$phablet: 600px
$phablet-large: 620px
$tablet-small: 768px
$tablet: 820px
$tablet-large: 980px
$tablet-xlarge: 1110px
$desktop: 1280px
$desktop-large: 1440px
$desktop-xlarge: 1960px
