/* **********************************************************
 * Include foundational CSS files to ease development
 * ******************************************************* */
@import "util/_reset.scss";
@import "util/_fonts.scss";
@import "util/_vars.scss";
@import "util/_mixins.less";
@import "util/_icons.scss";
@import "util/_global.scss";


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* **********************************************************
 *  Components
 * ******************************************************* */
@import "components/_collapse-expand.scss";
@import "components/_footer.scss";
@import "components/_form.less";
@import "components/_header.scss";
@import "components/_lists.scss";
@import "components/_masonry.scss";
@import "components/_navigation.scss";
@import "components/_tabs.scss";


/* **********************************************************
 *  Pages and Modules
 * ******************************************************* */
@import "modules/_poetry.scss";
@import "modules/_portfolio.scss";
@import "modules/_resume.scss";
@import "modules/_social-media.scss";


/* **********************************************************
 *  Media
 * ******************************************************* */
@import "util/_media.scss";
