<!DOCTYPE html>
<html lang="en-us" data-brand="MsDacia" ng-app="msdacia">
	<head>
		<title>MsDacia - AngularJS</title>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible"	content="IE=Edge; IE=10; IE=9;">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="description" content="">
		<meta name="keywords" content="">

		<!-- External CSS -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">

		<!-- External JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

		<!-- Internal CSS -->
		<link rel="stylesheet" href="static/app.min.css" />

	</head>

	<body>
		<main>
			<div class="wrapper" ng-controller="MainController as main">
				<h1>MsDacia</h1>
			</div>
		</main>

		<!-- JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="static/app.min.js"></script>
	</body>
</html>
